body {
	background: url('images/brown-wooden-flooring_53876-90802.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: sans-serif;
	font-weight: bold;
}
h1 {
	text-align: center;
	color: #ccc;
}
h2 {
	color: #ccc;
}
p {
	font-size: 18px;
	color: #fff;
}
